@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");

html {
  scroll-behavior: smooth;
}

.page {
  background-image: url(img/black-fone.jpg);
  width: 1200px;
  margin: 0 auto;
}

.table-section {
  position: relative;
  top: 4rem;
}

.table {
  border-spacing: 0px 10px;
  margin: 0 auto;
  width: 100%;
}

.table__head {
  position: sticky;
  top: 3px;
  z-index: 1000;
  background-color: black;
  box-shadow: 0px 0px 4px 2px gray;
}

.table__title {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  color: silver;
  padding: 18px 2px;
  width: 200px;
}

.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  top: 4rem;
  position: relative;
}

.production {
  background-color: black;
  cursor: pointer;
  color: silver;
  border-radius: 5px;
}

.production2 {

}

.table__row {
  text-align: center;
  box-shadow: 0px 0px 4px 2px indigo;
}

.table__cell {
  padding: 10px 5px;
  background-color: black;
  color: silver;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.table__cell:hover {
  opacity: 0.8;
  box-shadow: inset 0px 0px 4px 2px floralwhite;
}

.table__cell--active {
  box-shadow: inset 0px 0px 4px 2px floralwhite;
}

.name {
  height: 18px;
  overflow: hidden;
}

.btn-up {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 24px;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: 5px solid silver;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
}

.btn-up:hover {
  opacity: 0.7;
}

.btn-up:active {
  opacity: 0.5;
}

.hidden {
  display: none;
}
.clear {
  position: relative;
  top: 2.4rem;
}
#ten, #ten2, #unten, #unten2 {
  font-size: 15px;
  padding: 10px 6px;
  background-color: black;
  color: silver;
  border: 1px solid silver;
  cursor: pointer;
  transition: all 0.3s;
}

#ten:hover, #ten2:hover, #unten:hover, #unten2:hover {
  opacity: 0.7
}

#ten:active, #ten2:active, #unten:active, #unten2:active {
  opacity: 0.5
}

.add_buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /*  расстояние между flex-элементами (кнопки) */
  position: relative;
  top: 4rem;
}

.th-one {
  cursor: pointer;
}